.cart
  padding-top: 20px
  padding-bottom: 80px

  &__container
    @include mediaPhoneSm
      display: flex
      flex-direction: column

  &__head
    color: $blue
    margin-top: 20px

  // .cart__content
  &__content
    background-color: $white
    padding: 20px
    margin-top: 20px
    margin-bottom: 40px

  // .cart__items
  &__items
    margin-bottom: 20px

  // .cart__item
  &__item

  &__btns
    display: flex
    align-items: center
    justify-content: space-between
    @include mediaPhoneMid
      flex-direction: column-reverse

  &__total
    display: grid
    grid-template-columns: repeat(6, 1fr)

    &-wrap
      background-color: $white
      padding: 20px
      grid-column: span 3 / 7
      display: flex
      flex-direction: column
      @include mediaPhone
        grid-column: span 5 / 7
      @include mediaPhoneSm
        grid-column: span 6

    &-sum
      display: flex
      align-items: center
      justify-content: space-between
      font-size: 36px
      margin-bottom: 40px
      @include mediaPhoneSm
        flex-wrap: wrap
        line-height: 1.5


  // .cart__sum-text
  &__sum-text
    font-weight: 400
    font-size: 36px
    font-family: "Helvetica", sans-serif
    text-transform: uppercase
    @include mediaPhoneSm
      margin-right: 10px


  // .cart__sum
  &__sum
    span
      font-weight: 400
      font-size: 36px
      font-family: "Helvetica", sans-serif




//--------------- /.item-order ----------------------
.item-order
  display: flex
  align-items: center
  padding: 20px 0
  border-bottom: 1px solid $black

  // .item-order__content
  &__content
    display: grid
    align-items: center
    grid-template-columns: repeat(6, 1fr)
    column-gap: 20px
    width: 100%
    @include mediaTablet
      grid-template: repeat(2, max-content) / repeat(3, 1fr)
    @include mediaPhone
      grid-template-rows: repeat(3, max-content)
      // width: 100%
    &--bgc
      width: 100%
      @include mediaPhone
        display: none

  // .item-order__body
  &__body
    display: flex
    align-items: flex-start
    grid-column: span 3
    height: 100%
    @include mediaTablet
      grid-column: span 3
      margin-bottom: 30px
      height: auto

  &__bgc
    display: flex
    background-color: $blue
    color: $white
    width: 100%
    height: 28px
    padding-left: 7px
    text-align-last: left
    align-items: center

    // .item-order__img
  &__img
    margin-right: 20px
    height: 70px
    width: 70px
    // padding-bottom: 11%
    flex: 0 0 70px

  &__name
    display: flex
    flex-direction: column
    justify-content: space-between
    height: 100%

  // .item-order__title
  &__title
    font-size: 16px
    color: $blue
    margin-bottom: 20px
    transition: color 0.3s ease-in
    @media (any-hover: hover)
      &:hover
        color: $red

  &__remove
    width: 23px
    height: 23px

  // .item-order__price
  &__price
    grid-column: span 1
    text-align: center

  // .item-order__quantity
  &__quantity
    grid-column: span 1
    & .quantity
      width: 100%
      & input
        font-size: 32px
    @media (max-width: 1024px)
      & .quantity__input
        padding: 0 10px
    @include mediaPhone
      grid-column: span 2
      margin-bottom: 30px


  // .item-order__total
  &__total
    grid-column: span 1
    text-align: center
    @include mediaTablet
      font-weight: 700

    @include mediaPhone
      grid-column: span 3
      font-size: 18px
