.about-mission
  margin-bottom: 80px

  &__container

  &__wrap
    padding: 30px
    background-color: $white
    display: flex
    flex-direction: column

  // .about-mission__head
  &__head
    margin-bottom: 100px
    padding-left: 0
    padding-right: 0


  // .about-mission__wrap
  &__descr
    display: grid
    grid-template-columns: repeat(3, 1fr)
    column-gap: 20px
    margin-bottom: 45px

  // .about-mission__image
  &__image
    grid-column: 1 / 2
    background-color: $bgc-dark
    padding: 20px

  // .about-mission__img
  &__img
    padding-bottom: 89.556136% // 343/383

  // .about-mission__info
  &__info
    grid-column: 2 / 4
    display: flex
    flex-wrap: wrap
    // flex-direction: column
    // height: 300px
    column-gap: 20px
    align-items: start

    // .about-mission__list
    & p
      font-weight: 700
      flex: 1 1 48%
      &:not(:last-child)
        margin-bottom: 54px
      & span
        position: relative
        font-weight: normal
        padding-left: 25px
        display: inline-block
        &::before
          content: ''
          position: absolute
          top: 6px
          left: 10px
          width: 4px
          height: 4px
          border-radius: 50%
          background-color: $black


