.about
  padding-top: 60px
  padding-bottom: 30px
  &__container
    display: flex
    flex-direction: column

  &__head
    margin-bottom: 87px
    @include mediaPhoneMid
      margin-bottom: 30px

  &__descr
    display: flex
    gap: 20px
    flex-wrap: wrap
    max-width: 67%
    margin-left: auto
    margin-bottom: 186px
    @include mediaDesk
      max-width: 82.324219% // 843/1024
    @include mediaPhone
      max-width: none
      width: 100%
      flex-wrap: nowrap
      flex-direction: column
      margin-bottom: 40px
    p
      flex: 1 1 32%
      @include mediaPhone
        flex-basis: 100%

  &__timeline
    margin-bottom: 99px
    @include mediaPhoneMid
      margin-bottom: 40px

