.about
  padding-top: 60px
  padding-bottom: 30px
  &__container
    display: flex
    flex-direction: column

  &__head
    margin-bottom: 87px

  &__descr
    display: flex
    gap: 20px
    flex-wrap: wrap
    max-width: 67%
    margin-left: auto
    margin-bottom: 186px
    p
      flex: 1 1 32%

  &__timeline
    margin-bottom: 99px

