:root
  --projectBgImg: url("../images/bg/projects.jpg")

.projects
  position: relative
  padding-top: 54px
  padding-bottom: 50px
  background: $white var(--projectBgImg) center / cover no-repeat
  &::after
    content: ''
    position: absolute
    background: rgba($black, 0.3)
    top: 0
    bottom: 0
    left: 0
    right: 0
    width: 100%
    height: 100%

  &__container
    position: relative
    z-index: 2
    display: flex
    flex-direction: column
    justify-content: space-between
    height: 800px
    @include mediaPhone
      height: auto

  // .projects__head
  &__head
    &::before
      right: 15px
    @include mediaPhone
      margin-bottom: 40px

  // .projects__info
  &__info
    width: 66.171875% // 847/1280
    padding: 20px
    background-color: $white
    align-self: end
    display: flex
    flex-direction: column
    @include mediaDesk
      width: 82.714844% // 847/1024
    @include mediaPhone
      width: 100%

  // .projects__title
  &__title
    margin-bottom: 40px
    font-size: 36px
    min-height: 50px


  // .projects__text
  &__text
    margin-bottom: 40px
    display: flex
    gap: 20px
    flex-wrap: wrap
    @include mediaPhone
      flex-wrap: nowrap
      flex-direction: column
    p
      flex: 1 1 47%
      @include mediaPhone
        flex-basis: 100%
