.timeline
  position: relative
  &::before
    content: ''
    position: absolute
    top: 50%
    transform: translateY(-50%)
    left: 0
    width: 100%
    height: 2px
    background-color: $black
    // @include mediaTablet
    @include mediaPhoneMid
      // // transform: rotate(90deg)
      width: 2px
      height: 100%
      left: 40px
  &::after
    content: ''
    position: absolute
    top: 50%
    transform: translateY(-50%)
    right: -4px
    width: 12px
    height: 15px
    background: url(../images/icons/sprite.svg#arrow-time) center no-repeat
    // @include mediaTablet
    @include mediaPhoneMid
      transform: rotate(90deg)
      top: auto
      bottom: -8px
      left: 35px
  // @include mediaTablet
  @include mediaPhoneMid
    padding-top: 40px

  &__list
    display: flex
    align-items: center
    justify-content: space-between
    padding-right: 112px
    padding-left: 81px
    @include mediaDesk
      padding-left: 10px
    // @include mediaTablet
    @include mediaPhoneMid
      flex-direction: column
      align-items: start
    @include mediaPhoneMid
      padding-right: 10px

  &__item
    position: relative
    // width: 100%
    // width: 60px // откл
    // height: 60px // откл
    // border-radius: 50% // откл
    cursor: pointer
    transition: box-shadow 0.3s ease-in
    @include mediaTablet
      // margin-bottom: 100px
      display: flex
      align-items: center
      // justify-content: center // откл
    @include mediaPhoneMid
      margin-bottom: 50px
      width: 100%


    &:hover
      // background: $red
      & .timeline__year
        box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.2)
    &:nth-child(odd)
      & .timeline__year
        background: $grad-red // перенес
      span
        top: -41px
        @include mediaTablet
          // top: -31px
          top: auto
      p
        top: 70px
        @include mediaTablet
          top: auto
          bottom: -50%
          transform: translateY(60%)
          left: 0
        @include mediaPhoneMid
          bottom: 0
          transform: translateY(0)
          // right: 0
          left: 80px

      @media (any-hover: hover)
        &:hover
          color: $red

    &:nth-child(even)
      & .timeline__year
        background: $grad-blue // перенес
      span
        bottom: -41px
        @include mediaTablet
          // top: -31px
          bottom: auto
      p
        bottom: 70px
        @include mediaTablet
          top: auto
          bottom: -50%
          transform: translateY(60%)
          left: 0
        @include mediaPhoneMid
          bottom: 0
          transform: translateY(0)
          // right: 0
          left: 80px
      @media (any-hover: hover)
        &:hover
          color: $red
    & .timeline__year
      // новый код
      width: 60px
      height: 60px
      border-radius: 50%
      display: flex
      align-items: center
      justify-content: center
      // конец
    span
      position: absolute
      font-size: 36px
      font-weight: 700
      left: 60px
      transition: color 0.3s ease-in
      @include mediaTablet
        position: relative
        font-size: 20px
        color: $white
        left: auto
    p
      // overflow: hidden
      visibility: hidden
      position: absolute
      left: 0
      width: 250px
      color: $white
      // font-size: 0
      transition: color 0.3s ease-in
      @include mediaDesk
        width: 218px
      @include mediaTablet
        // width: 250px
      @include mediaPhoneMid
        width: calc(100% - 80px) // добавил
      @include mediaPhoneSm
        // width: 185px // откл 
    &._active
      p
        // overflow: visible
        visibility: visible
        color: $black
        font-size: 16px
