.filter
  background-color: $grey
  padding: 15px 10px
  grid-column: 1 span

  &__select
    background-color: $blue
    color: $white
    padding: 5px
    border-radius: 0

    & option
      padding: 5px
      border-radius: 0
      @media (any-hover: hover)
        &:hover
          background-color: #fff

