.shop
  grid-column: 3 span
  margin-bottom: 30px
  @include mediaTablet
    grid-column: 4 span


  & .navigation__container
    margin-top: 73px

  &__content
    display: grid
    grid-template-columns: repeat(4, 1fr)
    column-gap: 20px

  &__top

  &__head
    display: flex
    align-items: center
    // justify-content: space-between
    padding-bottom: 20px
    // margin-bottom: 84px
    @include mediaTablet
      flex-wrap: wrap
      // margin-bottom: 40px

    & .breadcrumbs
      @include mediaTablet
        margin-bottom: 30px


