.menu
  // margin-left: 50px
  &__body
    // margin-top: -5px
    // display: none
    // @media (max-width: 768px)
    position: fixed
    top: 0
    right: -100%
    width: 100%
    height: 100%
    padding: 110px 30px 50px 70px
    background-color: $grey
    overflow: auto
    transition: right 0.5s ease 0s
    z-index: 5
    @include mediaPhone
      display: flex
      flex-direction: column
    @include mediaPhoneMid
      padding-left: 30px


    // подложка под верхнее меню, если оно имеет фон
    &::before
      content: ''
      position: fixed
      top: 0
      right: -100%
      width: 100%
      height: 74px
      background-color: $grey
      transition: right 0.5s ease 0s
      z-index: 2
    &._active
      // display: block
      right: 0
      &::before
        right: 0
  &__list
    display: flex
    flex-direction: column
    // flex-wrap: wrap
    @include mediaPhone
      order: 4
    @media (max-width: 768px)
      flex-direction: column
      align-items: flex-start

  &__item
    position: relative
    @include fx-all
    flex-wrap: wrap
    @include font(700, 28, 42)
    color: $blue
    text-transform: uppercase
    transition: color 0.3s ease

    &.current-menu-item a
      color: $red
    @media (any-hover: hover)
      &:hover
        a
          color: $red

    &:not(:last-child)
      margin-bottom: 20px

    // нижняя линия при наведении
    &::before
      position: absolute
      content: ''
      display: block
      bottom: -6px
      width: 0%
      height: 2px
      background-color: $white
      transition: width 0.5s ease
    // уточнить!!!
    // &:last-child a
    //   transition: 0.3s linear
    //   margin-left: 120px
    & a
      color: inherit


    @media (max-width: 768px)
      margin-bottom: 40px
      font-weight: 800
      font-size: 32px
      color: $white
      &:not(:last-child)
        margin-right: 0
        margin-bottom: 10px

  &__phone
    display: none
    width: 0
    height: 0
    @include mediaPhone
      color: $white
      width: auto
      height: auto
      font-size: 20px
      margin-right: auto
      order: 5

  &__icon
    display: block
    // display: none
    // @media ( max-width: 768px )
    position: relative
      //flex: 0 0 32px
      // top: 18px
      // right: 10px
    width: 40px
    height: 22px
    border: none
    background-color: transparent
    cursor: pointer
    outline: none
    z-index: 5
    padding: 0
    span
      position: absolute
      top: calc( 50% - 2px )
      right: 0
      width: 50%
      height: 2px
      background-color: $blue
      &:first-child
        width: 100%
        top: 0
        transition: transform .3s ease-in-out, top .3s ease-in-out, background-color .5s ease-out
      &:last-child
        top: auto
        bottom: 0
        transition: transform .3s ease-in-out, top .3s ease-in-out, background-color .5s ease-out
        width: 75% // 30/40
    &._active
      background-color: $red
      border-radius: 50%
      width: 50px
      height: 50px
      background-position: 0 10px
      @media (any-hover: hover)
        &:hover
          span
            &:first-child
              transform: rotate(135deg)
            &:last-child
              transform: rotate(-135deg)
      span
        transform: scale(0)
        right: 6px
        background-color: $white
        transition: transform 0.3s ease-in-out, background-color .5s ease-out
        &:first-child
          width: 75%
          top: calc( 50% - 2px )
          transform: rotate(-45deg)
          transition: transform .3s ease-in-out, top .3s ease-in-out
        &:last-child
          width: 75%
          top: calc( 50% - 2px )
          transform: rotate(45deg)
          transition: transform .3s ease-in-out, top .3s ease-in-out
