.product
  // ПОСЛЕДНИЕ ПОСТУПЛЕНИЯ
  &__items
    display: flex
    flex-wrap: wrap
    margin: 0 -10px
    row-gap: 70px /// !!!!
    height: 380px
    // width: 100%
    // transition-timing-function: linear

  &__item
    padding: 0 10px
    // flex: 1 1 25% //!!!!!
    flex: 1 1 33%
    // max-width: 305px //!!!!!
    max-width: 325px
    height: 340px
    @include mediaTablet
      max-width: none

  &__wrap
    display: flex
    flex-direction: column
    align-items: center
    background-color: $white
    // max-height: 310px
    height: 100%
    padding: 20px
    transition: box-shadow 0.5s ease-in
    @media (any-hover: hover)
      &:hover
        box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.2)

  &__cover
    padding-bottom: 59%
    margin-bottom: 7px
    width: 100%
    span
      width: 50px
      height: 50px
      background-color: $red
      color: $white
      display: block
      z-index: 5
      position: relative
      text-transform: uppercase
      display: flex
      align-items: center
      justify-content: center
      font-weight: 700

  &__body
    flex: 1 1 auto
    display: flex
    flex-direction: column
    padding: 0 8px
    & a
      color: inherit
      @media (any-hover: hover)
        &:hover
          color: $red

  &__head
    margin-bottom: 15px
    text-align: center
    color: $black
    transition: color 0.3s ease-in
    padding-right: 10px
    flex: 1 1 auto
    &--small
      font-size: 16px
      margin-bottom: 15px
      min-height: auto
      text-align: left

  &__footer
    display: flex
    align-items: center
    justify-content: center
    column-gap: 30px

  // &__price

  &__cart
    background: url("../images/icons/sprite.svg#cart") center no-repeat
    width: 30px
    height: 30px
    cursor: pointer
    transition: transform 0.3s ease-in-out
    @media (any-hover: hover)
      &:hover
        transform: scale(1.02)


  // КАРТОЧКА ТОВАРА



  // .product__container
  &__container
    display: grid
    grid-template: min-content 1fr / repeat(3, 1fr)
    gap: 50px 20px
    // flex-wrap: wrap
    @include mediaTablet
      grid-template: repeat(4, max-content) / 1fr
      gap: 20px 0px

  // .product__gallery
  &__gallery
    background-color: $white
    width: 413px
    @include mediaTablet
      grid-column: span 1
      width: 100%
      padding-bottom: 45px
      // width: auto
      // flex: 1 1 100%


  // .product__images
  &__images


  // .product__pic
  &__pic

  // .product__data
  &__data
    grid-column: span 2
    background-color: $white
    display: flex
    flex-direction: column
    align-items: start
    padding: 65px 151px 20px 138px
    // flex: 1 1 auto
    @media ( max-width: 1200px )
      padding: 50px 61px 30px
    @include mediaTablet
      grid-column: span 2
    @media ( max-width: 480px )
      padding: 20px

  // .product__exist
  &__exist
    align-self: flex-end
    margin-bottom: 20px
    padding-right: 33px
    position: relative
    &::after
      position: absolute
      content: ''
      top: -3px
      right: 0
      width: 25px
      height: 25px
      border-radius: 50%
      background: $blue url("../images/icons/sprite.svg#done") center / 17px no-repeat
    &--no
      &::after
        background: $red url("../images/icons/sprite.svg#close") center / 17px no-repeat

  // .product__header
  &__header
    margin-bottom: 20px
    color: $blue
    font-size: 36px
    min-height: auto
    padding-right: 10px
    @media ( max-width: 480px )
      font-size: 32px

  // .product__block
  &__block
    display: grid
    grid-template: repeat(2, 1fr) / repeat(2, 1fr)
    gap: 20px
    width: 100%
    @include mediaPhoneMid
      grid-template: repeat(4, max-content) / 1fr
      row-gap: 30px

  // .product__cost
  &__cost
    border: 2px solid $blue
    padding: 20px 40px
    display: flex
    align-items: center
    justify-content: center
    color: $blue
    font-weight: 700
    font-size: 36px
    @include mediaPhoneMid
      grid-row: 1

  // .product__quant
  &__quant
    display: flex
    align-items: center
    justify-content: center
    height: 50px
    @include mediaPhoneMid
      grid-row: 2

  &__btn-cart
    height: 50px

  // .product__atr
  &__atr
    border: 2px solid $blue
    padding: 40px 20px


  // .product__itm
  &__itm

  // .product__elem

  // .product__element
  &__element
    display: flex
    align-items: flex-start
    column-gap: 20px
    &:not(:last-child)
      margin-bottom: 30px
    &--atr
      color: $blue
      &:not(:last-child)
        margin-bottom: 10px


  // .product__cat
  &__cat
    flex: 1 1 34.507246% // 147/414


  // .product__title
  &__title
    flex: 1 1 54% // 226/414
    font-weight: 700


  // .product__info
  &__info
    background-color: $white
    padding: 20px
    // width: 413px
    @include mediaTablet
      padding-bottom: 50px
      // width: auto
      // flex: 1 1 30%



  // .product__descr
  &__descr
    background-color: $white
    grid-column: span 2
    padding: 20px
    // flex: 1 1 55%
    // max-width: 847px
    // width: 100%
    padding-bottom: 80px
    @include mediaTablet
      padding-bottom: 50px
      // width: auto
      // flex: 1 1 60%


  // .product__text
  &__text



.image-product
  min-width: 0
  overflow: hidden
  // .image-product__mainslider
  &__mainslider
    // width: 373px
    // box-sizing: border-box
    overflow: hidden
    margin-bottom: 10px
    @media ( max-width: 992px )
      width: 100%



  // .image-product__mainslide
  &__mainslide
    height: 290px
    // margin: 20px
    // padding: 20px
    // display: flex
    // align-items: center
    // justify-content: center
    position: relative
    // max-width: 80%
    // width: 373px
    overflow: hidden
    // min-width: 0
    @media ( max-width: 992px )
      // width: 100% !important
      height: 50%
      box-sizing: border-box !important

  // .image-product__sale
  &__sale
    position: absolute
    top: 20px
    left: 20px
    width: 50px
    height: 50px
    background-color: #D35343
    color: #FFFFFF
    display: block
    z-index: 5
    text-transform: uppercase
    display: flex
    align-items: center
    justify-content: center
    font-weight: 700


  // .image-product__image
  &__image
    padding-bottom: 65.375303% // 270/413
    // height: 300px
    margin: 20px
    @include mediaTablet
      margin-bottom: 0

  // .image-product__subslider
  &__subslider
    margin-left: 20px
    margin-right: 20px
    // padding: 0 20px 20px 20px
    // margin: 0 -6px
    overflow: hidden

  &__preview
    list-style: none
    // display: flex
    // align-items: center
    // justify-content: space-between
    // column-gap: 15px

  // .image-product__subslide
  &__subslide
    height: 70px
    width: 70px
    // padding: 0 6px
    @include mediaTablet
      height: auto



  // .image-product__img
  &__img
    padding-bottom: 83.15%


