.product
  &__items
    display: flex
    flex-wrap: wrap
    margin: 0 -10px
    row-gap: 70px /// !!!!
    // width: 100%
    // transition-timing-function: linear

  &__item
    padding: 0 10px
    // flex: 1 1 25% //!!!!!
    flex: 1 1 33%
    // max-width: 305px //!!!!!
    max-width: 325px
    @include mediaTablet
      max-width: none

  &__wrap
    display: flex
    flex-direction: column
    align-items: center
    background-color: $white
    // height: 100%
    padding: 20px
    transition: box-shadow 0.5s ease-in
    @media (any-hover: hover)
      &:hover
        box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.2)

  &__img
    padding-bottom: 59%
    margin-bottom: 7px
    width: 100%
    span
      width: 50px
      height: 50px
      background-color: $red
      color: $white
      display: block
      z-index: 5
      position: relative
      text-transform: uppercase
      display: flex
      align-items: center
      justify-content: center
      font-weight: 700

  &__body
    flex: 1 1 auto
    display: flex
    flex-direction: column
    padding: 0 8px

  &__head
    margin-bottom: 15px
    text-align: center
    color: $black
    transition: color 0.3s ease-in
    @media (any-hover: hover)
      &:hover
        color: $red

  &__info
    display: flex
    align-items: center
    justify-content: center
    column-gap: 30px

  // &__price

  &__cart
    background: url("../images/icons/sprite.svg#cart") center no-repeat
    width: 30px
    height: 30px
    cursor: pointer
    transition: transform 0.3s ease-in-out
    @media (any-hover: hover)
      &:hover
        transform: scale(1.02)
