.quantity
  width: 200px
  height: 50px
  display: flex
  align-items: center

  &__btn
    flex: 0 0 30px
    position: relative
    cursor: pointer
    width: 30px
    height: 30px
    border-radius: 50%
    background: $red url("../images/icons/sprite.svg#arrcircle") center / 17px no-repeat
    transition: transform 0.3s ease
    &_plus
      @media (any-hover: hover)
        &:hover
          transform: scale(1.05)
    &_minus
      transform: rotate(-180deg)
      transition: opacity 0.3s ease-in, transform 0.3s ease
      @media (any-hover: hover)
        &:hover
          transform: scale(1.05) rotate(-180deg)
      &.no-active
        cursor: auto
        opacity: 0.2
        @media (any-hover: hover)
          &:hover
            transform: rotate(-180deg)

  &__input
    flex: 1 1 auto
    padding: 0 20px
    input
      border: 2px solid $blue
      border-radius: 10px
      height: 100%
      color: $black
      font-size: 12px
      width: 100%
      text-align: center
      font-size: 36px
      font-weight: 700
      color: $blue
      transition: border 0.5s ease-in
      &:focus
        border: 2px solid $red

